
<div class="fa-checkgroupvalue-tips">
    <table class="fa-checkgroupvalue-tips-table">
        <tr class="demo">
            <td class="fa-checkgroupvalue-tips-name"></td>
            <td class="fa-checkgroupvalue-tips-value"></td>
        </tr>
    </table>
    <div class="fa-no-checkgroupdvalue" style="margin: 5px 0px 3px 20px;color: #E98153;">@HtmlLang.Write(LangModule.FA,"NoRelatedDimension","没有设置相关核算维度")</div>
</div>