<?xml version="1.0" encoding="utf-8" ?>
<bindings>
  <wsHttpBinding>
    <binding name="wsHttpEndpointBinding">
      <!--验证方式-->
      <security mode="Message">
        <message clientCredentialType="Certificate" />
      </security>
    </binding>
  </wsHttpBinding>
  <customBinding>
    <binding name="GZipEncodingBiding">
        <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
        <httpTransport hostNameComparisonMode="StrongWildcard"
                       manualAddressing="False"
                       maxReceivedMessageSize="2147483647"
                       authenticationScheme="Anonymous"
                       bypassProxyOnLocal="False"
                       realm=""
                       useDefaultWebProxy="False"
                       requestInitializationTimeout="00:30:00"/>
    </binding>
  </customBinding>
</bindings>