@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using JieNor.Megi.Common.Utility
<div class="mg-wrapper">
    <div class="space"></div>
    <div id="gridBusLog" fitcolumns="true"></div>

    <br class="clear" />
</div>
<script src="@ServerHelper.ScriptServer/go/scripts/Areas/Adviser/OptLog/LogList.js?@ServerHelper.JSVersion"></script>