
<form id="frmSubmit" action="/BD/Print/Preview?@ServerHelper.JSVersion" method="post" target="">
    <input type="hidden" name="reportType" value="@Request.Params["reportType"]">
    <input type="hidden" name="jsonParam" value="@Request.Params["jsonParam"]">
    <input type="hidden" name="width" value="@Request.Params["width"]">
</form>