.loginBox {
    /* background */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F8F9FC;
    mix-blend-mode: normal;
}
.top {
    position: relative;
    width: 300px;
    height: 200px;
    margin: auto;
}
.hypercurrent {
    /* hypercurrent */
    position: relative;
    width: 194px;
    height: 43px;
    top: 131px;
    margin: auto;
    font-family: Upgrade;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B197D;
}
.chinaedition {
    /* China edition */
    position: relative;
    width: 159px;
    height: 15px;
    top: 125px;
    left: 200px;
    display: block;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    color: #000000;
}

.item-wrap {
    width: 84%;
    margin: 20px auto;
}

.item1-wrap {
    width: 84%;
    margin: 20px auto;
}

.formbox {
    /* form box */
    position: relative;
    margin: auto;
    width: 341px;
    height: 400px;
    top: 6px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #6B7C93;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.logintext {
    width: 84%;
    /*border:1px solid red;*/
    margin: 20px auto;
}

.lang-bar {
   text-align: right;
    position: relative;
    top: 10px;
    margin-top:0; 
}

.loginCaption {
    /* Login */
    position: relative;
    width: 35%;
    height: 25px;
    /*left: 47px;*/
    top: 3px;
    float:left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: block;
    align-items: center;
    color: #37383C;
}

.loginbutton {
    /* login button */
    position: relative;
    width: 50%;
    height: 44px;
    margin:20px auto;
    background: #2B197D;
    border-radius: 6px;
    display: inline-block;
    margin: auto;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.forgotPassword {
    /* Forgot Password */
    width: 259px;
    height: 31px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #37383C;
}
.emailfield {
    /* email field */
    width: 270px;
    height: 44px;
    background: #F8F9FC;
    border: 1px solid rgba(68, 68, 68, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
}
.passwordfield {
    /* password field */
    width: 270px;
    height: 44px;
    background: rgba(248, 249, 252, 0.3);
    border: 1px solid rgba(68, 68, 68, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
}
.dividerline {
    /* divider */
    width: 270.01px;
    height: 0px;

    border: 1px solid rgba(68, 68, 68, 0.3);
    transform: rotate(0.43deg);
}