<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <!--JieNor.Megi.Identity,需要使用Service的时候-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="TrackEvent" value="0"/>
    <add key="PublishNoticeTime" value="2018-12-26 08:25"/>
    <add key="PublishFromTime" value="2018-12-26 21:00"/>
    <add key="PublishToTime" value="2018-12-26 24:00"/>
    <add key="IsPublish" value="1"/>
    <add key="IsBetaSite" value="false"/>
    <add key="LoginSite" value="http://login.megidev.com"/>
    <add key="BetaLoginSite" value="Http://slogin.megidev.com"/>
    <add key="AppSource" value="System"/>
    <!--顶级域-->
    <add key="Domain" value="megidev.com"/>
    <!--域名需要用到的配置-->
    <add key="DomainString" value=";megidev.com"/>
    <add key="BetaDomainString" value="s;megidev.com"/>
    <!--系统服务的地址-->
    <add key="SysServiceUrl" value="{0}service.{1}"/>
    <!--Api服务的地址-->
    <add key="WebApiServiceUrl" value="{0}api.{1}"/>
    <!--Mongo服务的地址-->
    <add key="MongoServiceUrl" value="{0}mservice.{1}"/>
    <!--静态资源站点-->
    <add key="ScriptServer" value="{0}my.{1}"/>
    <!--静态资源站点-->
    <add key="StaticServer" value="{0}static.{1}"/>
    <!--Go站点-->
    <add key="GoServer" value="{0}go.{1}"/>
    <!--My站点-->
    <add key="MyServer" value="{0}my.{1}"/>
    <!--Main站点-->
    <add key="MainServer" value="{0}main.{1}"/>
    <!--登陆站点-->
    <add key="LoginServer" value="{0}login.{1}"/>
    <!--推送消息站点-->
    <add key="HubServer" value="{0}my.{1}"/>
    <!--权限验证白名单,后面不要加斜杠-->
    <add key="AccessWhiteList" value="{0}login.{1};{0}main.{1}"/>
    <!--Cookie的过期时间-->
    <add key="ExpireTime" value="60"/>
    <!--Main站点-->
    <add key="CodeExpireTime" value="2"/>
    <!--系统服务证书加密后的值，通过svcUtil从服务器段获取-->
    <add key="ClientCertValue"
      value="AwAAAAEAAAAUAAAA+rBri0E50FGkMjrdkn7r6EaGYV4gAAAAAQAAALYBAAAwggGyMIIBYKADAgECAhC/QWGMA/85s0YgYFXThQUuMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTUwMzAzMDIzODQyWhcNMzkxMjMxMjM1OTU5WjAVMRMwEQYDVQQDEwpNZWdpU2VydmVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC2VQCoaVufRjcMCiug5M6mYnSvxYbGJ7o/zISGxrjVQ7Xv7FVEjXZhNEG0ICejxGyh4lv4mbXS186BBlcEwbxyIcTT7wZ742pEUUoQayyvrd6eAX0yNCiz0HL7GaAZrlnIUToZazT3lxJCU5000dT3hHjQWmQ3BPPCgG7gZUUEBQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBADbu65cs4V7di00JT2GN/CWsluitiYxC4y7zI66EuHQX8xLvDWMGMFjh3IrS21Plg08BK9A7yaLeMLNuYh3yYV0="/>
    <!--客户端证书的名称-->
    <add key="ClientCertName" value="MegiClient"/>
    <!--AccesssToken保存在Cookie中的名字-->
    <add key="MAccessTokenCookie" value="MAccessToken"/>
    <!--AccesssToken保存在Cookie中的名字-->
    <add key="MUserEmailCookie" value="MUserEmail"/>
    <!--MAccessToken在头部里面传输时候的命名空间-->
    <add key="MegiChinaNamespace" value="http://megidev.com"/>
    <!--是否使用压缩传输-->
    <add key="GZipEncoderTransfer" value="1"/>
    <!--JS以及CSS版本-->
    <add key="JavaScriptCSSVersion" value="186"/>
    <!--Web站点是否使用SSL-->
    <add key="WebSSLEnable" value="0"/>
    <!--Web站点是否使用SSL-->
    <add key="ServiceSSLEnable" value="0"/>
    <!--数据多大就开始压缩-->
    <add key="GZipLength" value="102400"/>
    <!--客服邮箱-->
    <add key="ServiceEmail" value="support@megichina.com"/>
    <!--FTP信息-->
    <add key="FtpServerIp" value="115.28.80.29"/>
    <add key="FtpPort" value="21"/>
    <add key="FtpUserId" value="MegiUsr140821"/>
    <add key="FtpPassword" value="JK98@78(Acd*123^[T"/>
    <!--默认的头像地址-->
    <add key="DefaultHeadImage" value="D:\MegiIIS\my.megichina.com\Images\default-header.jpg"/>
    <!--是否记录异常日志-->
    <add key="writeLog" value="1"/>
    <!--日志文件大小 KB-->
    <add key="logFileSize" value="1024"/>
    <!--日志文件记录的位置-->
    <add key="logFilePath" value="d:\megiiis\my.megichina.com\log\"/>
    <!--错误页面-->
    <add key="ErrorPage" value="/customerror/error.html"/>
    <add key="NotFoundPage" value="/customerror/notfound.html"/>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="AdoNetAppender_MySql"/>
    </root>
    <!--同时写两个文件和数据库-->
    <logger name="loginfo" additivity="false">
      <level value="ALL"/>
      <!--OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL-->
      <appender-ref ref="AdoNetAppender_MySql"/>
    </logger>
    <!-- 错误日志附加介质-->
    <appender name="AdoNetAppender_MySql" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <param name="ConnectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
      <param name="ConnectionString"
        value="server=172.18.75.6;database=megisys;uid=root;pwd=123456;Port=3305;Allow Zero Datetime=True;charset=utf8;pooling=true;Max Pool Size=100"/>
      <!--<param name="ConnectionString" value="server=115.28.0.167;database=JieNorSYS;uid=wedison;pwd=888888;Allow Zero Datetime=True;Port=3307;charset=utf8;pooling=true;Max Pool Size=100"/>-->
      <commandText value="INSERT INTO T_SYS_LogErr (MDatetime,MThread,Mlevel,Mlogger,MMessage,MException) VALUES (@Mdatetime,@thread, @log_level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@Mdatetime"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss}"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
  </log4net>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="JieNor.Megi.Identity.HtmlHelper"/>
        <add namespace="JieNor.Megi.Core.MultiLanguage"/>
        <add namespace="JieNor.Megi.Core"/>
        <add namespace="JieNor.Megi.Core.Const"/>
        <add namespace="JieNor.Megi.Identity"/>
      </namespaces>
    </pages>
    <!--顶级域名称-->
    <httpCookies domain="megidev.com"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
        type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863AF14B0044DA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>