@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @HtmlLang.Write(LangModule.Login, "Error", "Error");
}

<hgroup class="title">
    <h1 class="error">@HtmlLang.Write(LangModule.Login, "Error", "Error")</h1>
    <h2 class="error">@HtmlLang.Write(LangModule.Login, "DealWithYourError", "Deal with your error.")</h2>
</hgroup>
