<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MegiWebCacheConnection" connectionString="mongodb://172.18.75.6:6000"/>
    <add name="MegiBDCacheConnection" connectionString="mongodb://172.18.75.6:6001"/>
    <add name="MegiLogCacheConnection" connectionString="mongodb://172.18.75.6:6002"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- 是否更新多语言 -->
    <add key="UpdateLang" value="false" />
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=172.18.75.6;database=megisys;uid=root;pwd=123456;Allow Zero Datetime=True;Port=3305;charset=utf8;pooling=true;Max Pool Size=100" />
    <!--AccesssToken保存在Cookie中的名字-->
    <add key="MAccessTokenCookie" value="MAccessToken" />
    <!--AccesssToken保存在Cookie中的名字-->
    <add key="MUserEmailCookie" value="MUserEmail" />
    <!--MAccessToken在头部里面传输时候的命名空间-->
    <add key="MegiChinaNamespace" value="http://megidev.com" />
    <!--域名需要用到的配置-->
    <add key="IsBetaSite" value="false" />
    <add key="DomainString" value=";megidev.com" />
    <add key="BetaDomainString" value="s;megidev.com" />
    <!--系统服务的地址-->
    <add key="SysServiceUrl" value="{0}service.{1}" />
    <!--Api服务的地址-->
    <add key="WebApiServiceUrl" value="{0}api.{1}" />
    <!--Mongo服务的地址-->
    <add key="MongoServiceUrl" value="{0}mservice.{1}" />
    <!--静态资源站点-->
    <add key="StaticServer" value="{0}static.{1}" />
    <!--Go站点-->
    <add key="GoServer" value="{0}go.{1}" />
    <!--My站点-->
    <add key="MyServer" value="{0}my.{1}" />
    <!--Main站点-->
    <add key="MainServer" value="{0}main.{1}" />
    <!--登陆站点-->
    <add key="LoginServer" value="{0}login.{1}" />
    <!--权限验证白名单,后面不要加斜杠-->
    <add key="AccessWhiteList" value="{0}login.{1};{0}main.{1}" />
    <!--Cookie的过期时间-->
    <add key="ExpireTime" value="60" />
    <!--获取Mongo服务的方式 1 使用WCF，0 代表-通过service连接-->
    <add key="GetMongoServieType" value="0" />
    <!--系统服务证书加密后的值，通过svcUtil从服务器段获取-->
    <add key="ClientCertValue" value="AwAAAAEAAAAUAAAA+rBri0E50FGkMjrdkn7r6EaGYV4gAAAAAQAAALYBAAAwggGyMIIBYKADAgECAhC/QWGMA/85s0YgYFXThQUuMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTUwMzAzMDIzODQyWhcNMzkxMjMxMjM1OTU5WjAVMRMwEQYDVQQDEwpNZWdpU2VydmVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC2VQCoaVufRjcMCiug5M6mYnSvxYbGJ7o/zISGxrjVQ7Xv7FVEjXZhNEG0ICejxGyh4lv4mbXS186BBlcEwbxyIcTT7wZ742pEUUoQayyvrd6eAX0yNCiz0HL7GaAZrlnIUToZazT3lxJCU5000dT3hHjQWmQ3BPPCgG7gZUUEBQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBADbu65cs4V7di00JT2GN/CWsluitiYxC4y7zI66EuHQX8xLvDWMGMFjh3IrS21Plg08BK9A7yaLeMLNuYh3yYV0=" />
    <!--客户端证书的名称-->
    <add key="ClientCertName" value="MegiClient" />
    <!--是否记录异常日志-->
    <add key="writeLog" value="1" />
    <!--是否记录mysql异常日志-->
    <add key="writeSqlLog" value="1" />
    <!--记录Sql日志的类型-->
    <add key="writeSqlLogType" value="delete;insert;update" />
    <!--是否记录mysql异常日志到mongodb中-->
    <add key="writeSqlLog2Mongo" value="1" />
    <!--日志文件大小 KB-->
    <add key="logFileSize" value="1024" />
    <!--MYsql记录文件的频率-->
    <add key="writeSqlLogSeq" value="5" />
    <!--日志文件记录的位置-->
    <add key="logFilePath" value="D:\MegiIIS\service.megichina.com\Log\" />
    <!--mySql日志文件记录的位置-->
    <add key="sqlLogFilePath" value="D:\MegiIIS\service.megichina.com\Log\" />
    <!--默认动态连接业务库ID-->
    <add key="DBDefaultStorageID" value="100001" />
    <!--邮件发送服务器用户密码-->
    <add key="EmailServer" value="smtp.megichina.com" />
    <add key="EmailFromUser" value="support@megichina.com" />
    <add key="EmailFromPass" value="Megi1qaz2wsx!@#" />
    <add key="MailString" value="smtp=smtp.megichina.com;port=25;uid=support@megichina.com;pwd=Megi1qaz2wsx!@#;displayName=Megi" />
    <!--目前美记默认支持的多语言类型-->
    <add key="MegiLangTypes" value="0x0009,0x7804,0x7C04" />
    <!--巡检不显示的内容，startwith-->
    <!--<add key="InspectFilterStart" value="2,4,5,61,64"/>-->
    <!--多少个组织就创建一个库-->
    <add key="DBOrgCount" value="300" />
    <!--与银行对接的客户机IP-->
    <add key="BankClientMachineIP" value="192.168.1.10" />
    <!--美记上海银行账号 正式10767360 测试174704 -->
    <add key="SHBankMGAcctNo" value="174704" />
    <!--美记上海银行账号密码 正式913279 测试962888-->
    <add key="SHBankMGAcctPw" value="962888" />
    <add key="NewDemo" value="0" />
    <!--客服邮箱-->
    <add key="ServiceEmail" value="support@megichina.com" />
    <!--Web站点是否使用SSL-->
    <add key="WebSSLEnable" value="0" />
    <!--Web站点是否使用SSL-->
    <add key="ServiceSSLEnable" value="0" />
    <!--创建组织需要授权的类型:0标准版 1 记帐版-->
    <add key="NeedAuthOrgType" value="1" />
    <add key="RedisConfig.WriteServer" value="10.31.234.148:9002" />
    <add key="RedisConfig.ReadServer" value="10.31.234.148:9003" />
    <add key="RedisConfig.KeyPrefix" value="pro" />
    <add key="DisLockConfig.SyncLockEnable" value="true" />
    <add key="DisLockConfig.DefaultReleaseMin" value="5" />
    <add key="DisLockConfig.RetryInterval" value="200" />
    <add key="DisLockConfig.RetryCount" value="25" />
    <add key="DisLockConfig.HystrixInterval" value="5" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services configSource="Config\Services.config" />
    <behaviors configSource="Config\Behaviors.config" />
    <protocolMapping configSource="Config\ProtocolMapping.config" />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--WCF 压缩传输-->
    <extensions configSource="Config\Extensions.config" />
    <bindings configSource="Config\Bindings.config" />
  </system.serviceModel>
  <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
  <system.webServer>
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,soapacton,Authorization" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers />
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863AF14B0044DA" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>