<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TrackEvent" value="0" />
    <!-- 应用来源-->
    <add key="AppSource" value="System" />
    <!--验证码允许输错次数-->
    <add key="AllowLoginErrorCount" value="3" />
    <add key="LogUser" value="0" />
    <!--顶级域-->
    <add key="Domain" value="megidev.com" />
    <add key="IsBetaSite" value="false" />
    <!--域名需要用到的配置-->
    <add key="DomainString" value=";megidev.com" />
    <add key="BetaDomainString" value="s;megidev.com" />
    <!--系统服务的地址-->
    <add key="SysServiceUrl" value="{0}service.{1}" />
    <!--Api服务的地址-->
    <add key="WebApiServiceUrl" value="{0}api.{1}" />
    <!--Mongo服务的地址-->
    <add key="MongoServiceUrl" value="{0}mservice.{1}" />
    <!--静态资源站点-->
    <add key="ScriptServer" value="{0}login.{1}" />
    <!--静态资源站点-->
    <add key="StaticServer" value="{0}static.{1}" />
    <!--Go站点-->
    <add key="GoServer" value="{0}go.{1}" />
    <!--My站点-->
    <add key="MyServer" value="{0}my.{1}" />
    <!--Main站点-->
    <add key="MainServer" value="{0}main.{1}" />
    <!--登陆站点-->
    <add key="LoginServer" value="{0}login.{1}" />
    <!--权限验证白名单,后面不要加斜杠-->
    <add key="AccessWhiteList" value="{0}login.{1};{0}main.{1}" />
    <!--Cookie的过期时间-->
    <add key="ExpireTime" value="60" />
    <!--Main站点-->
    <add key="CodeExpireTime" value="2" />
    <!--系统服务证书加密后的值，通过svcUtil从服务器段获取-->
    <add key="ClientCertValue" value="AwAAAAEAAAAUAAAA+rBri0E50FGkMjrdkn7r6EaGYV4gAAAAAQAAALYBAAAwggGyMIIBYKADAgECAhC/QWGMA/85s0YgYFXThQUuMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTUwMzAzMDIzODQyWhcNMzkxMjMxMjM1OTU5WjAVMRMwEQYDVQQDEwpNZWdpU2VydmVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC2VQCoaVufRjcMCiug5M6mYnSvxYbGJ7o/zISGxrjVQ7Xv7FVEjXZhNEG0ICejxGyh4lv4mbXS186BBlcEwbxyIcTT7wZ742pEUUoQayyvrd6eAX0yNCiz0HL7GaAZrlnIUToZazT3lxJCU5000dT3hHjQWmQ3BPPCgG7gZUUEBQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBADbu65cs4V7di00JT2GN/CWsluitiYxC4y7zI66EuHQX8xLvDWMGMFjh3IrS21Plg08BK9A7yaLeMLNuYh3yYV0=" />
    <!--客户端证书的名称-->
    <add key="ClientCertName" value="MegiClient" />
    <!--AccesssToken保存在Cookie中的名字-->
    <add key="MAccessTokenCookie" value="MAccessToken" />
    <!--AccesssToken保存在Cookie中的名字-->
    <add key="MUserEmailCookie" value="MUserEmail" />
    <!--MAccessToken在头部里面传输时候的命名空间-->
    <add key="MegiChinaNamespace" value="http://megidev.com" />
    <!--是否使用压缩传输-->
    <add key="GZipEncoderTransfer" value="1" />
    <!--JS以及CSS版本-->
    <add key="JavaScriptCSSVersion" value="186" />
    <!--Web站点是否使用SSL-->
    <add key="WebSSLEnable" value="0" />
    <!--Web站点是否使用SSL-->
    <add key="ServiceSSLEnable" value="0" />
    <!--默认语言配置 0表示配置不起作用，按照用户浏览器自动选择-->
    <add key="DefaultWebsiteLanguage" value="0" />
    <!--登陆首页需要显示的语言切换种类 -1：不显示语言切换按钮-->
    <add key="langTypes" value="0x0009,0x7804;English,中文(简体)" />
    <!--<add key="langTypes" value="-1"/>-->
    <!--验证码允许输错次数-->
    <add key="AllowLoginErrorCount" value="3" />
    <!--客服邮箱-->
    <add key="ServiceEmail" value="support@megichina.com" />
    <!--客服邮箱-->
    <add key="ServiceEmail" value="support@megichina.com" />
    <!--邮件发送服务器用户密码-->
    <add key="MailString" value="smtp=smtp.megichina.com;port=25;uid=support@megichina.com;pwd=Megi1qaz2wsx!@#;displayName=Megi" />
    <!--<add key="MailString" value="smtp=smtp.gmail.com;port=465;uid=support@megidev.com;pwd=owek-U23_Krd2099O;displayName=Megi" />-->
    <!--signalR-->
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="owin:AppStartup" value="JieNor.Megi.My.Web.Areas.SignalR.Startup" />
    <!--是否记录异常日志-->
    <add key="writeLog" value="1" />
    <!--日志文件大小 KB-->
    <add key="logFileSize" value="1024" />
    <!--日志文件记录的位置-->
    <add key="logFilePath" value="D:\MegiIIS\login.megichina.com\log\" />
    <!--错误页面-->
    <add key="ErrorPage" value="/customerror/error.html" />
    <add key="NotFoundPage" value="/customerror/notfound.html" />
  </appSettings>
  
  
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Index" timeout="2880" name="ProviderMvcSession" />
      <!-- named cookie prevents conflicts with other samples -->
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <compilation targetFramework="4.5" debug="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ServerHeaderRemoveModule" type="System.Security.Web.ServerHeaderRemoveModule" />
      <add name="MVCVersionHeaderRemoveModule" type="System.Security.Web.MVCVersionHeaderRemoveModule" />
      <add name="AspNetVersionHeaderRemoveModule" type="System.Security.Web.AspNetVersionHeaderRemoveModule" />
      <add name="XPoweredByHeaderRemoveModule" type="System.Security.Web.XPoweredByHeaderRemoveModule" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <!--<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <!--<httpRedirect enabled="false" destination="awdaw" exactDestination="false" childOnly="true" httpResponseStatus="Temporary" />-->
  </system.webServer>
  <runtime>
    <legacyHMACWarning enabled="0" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>