
<div class="groupItem mg-dash-box mg-dash-bank" style="opacity: 1;">
    <div class="itemHeader"><h3>@HtmlLang.Write(LangModule.Bank, "ImportYourBankTransactions", "Import your bank transactions")</h3></div>
    <div class="itemContent">
        <div class="mg-content"> @HtmlLang.Write(LangModule.Bank, "ConnectAccountsAndCategoriseTransactions", "Connect your bank accounts to automatically import and categorise your transactions.")</div>
        <div class="mg-action">
            <a href="/Bank/BankAccountList?type=new" class="mg-btn mg-btn-blue">@HtmlLang.Write(LangModule.Bank, "AddBankAccount", "Add Bank Account")</a>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
</div>