<!--银行图表-->
@using JieNor.Megi.Common.Utility
<div class="bank">
    @Html.Partial("FWDashboardPartial/BSPEPartial")
</div>
<script type="text/javascript" src="~/Scripts/Dashboard/FWDashboardBank.js?@ServerHelper.JSVersion"></script>
@HtmlLang.WriteScript(LangModule.Bank)