<!--费用报销图表-->
@using JieNor.Megi.Common.Utility
<div class="expense">
    @Html.Partial("FWDashboardPartial/BSPEPartial")
</div>

<script type="text/javascript" src="~/Scripts/Dashboard/FWDashboardExpense.js?@ServerHelper.JSVersion"></script>