<!--采购-->
@using JieNor.Megi.Common.Utility
<div class="purchase">
    @Html.Partial("FWDashboardPartial/BSPEPartial")
</div>
<script type="text/javascript" src="~/Scripts/Dashboard/FWDashboardPurchase.js?@ServerHelper.JSVersion"></script>