<!--销售-->
@using JieNor.Megi.Common.Utility
<div class="sale">
    @Html.Partial("FWDashboardPartial/BSPEPartial")
</div>

<script type="text/javascript" src="~/Scripts/Dashboard/FWDashboardSale.js?@ServerHelper.JSVersion"></script>