
<div id="spMatchMsg" style="font-size:13px;"></div>
<div id="divMatchList" style="padding-top: 6px;font-size:15px;">
    <table id="tbAcctList" style="width:880px;height:400px"></table>
</div>

@HtmlLang.WriteScript(LangModule.Acct)
@JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteEasyuiLocalJs(LangIndentity.CurrentLangID)