
<div id="spPreviewMsg"></div>
<div id="divPreviewList" style="padding-top: 6px;">
    <table id="tbPreviewList" style="width:880px;height:400px; "></table>
</div>

@HtmlLang.WriteScript(LangModule.Acct)
@JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteEasyuiLocalJs(LangIndentity.CurrentLangID)