
@{
    Layout = "~/Areas/FW/Views/Shared/_Layout.cshtml";
}



<div class="m-form">
    <div class="row">
        <span class="lbl">公司名称</span>
        <input id="txtDate" type="text" class="easyui-datebox user-active" style="width:280px;" />
    </div>
    <div class="row">
        <span class="lbl">省市</span>
        <input id="txtDate" type="text" class="easyui-datebox user-active" style="width: 280px;" />
    </div>
    <div class="row">
        <span class="lbl">&nbsp;</span>
        <input id="txtDate" type="text" class="easyui-datebox user-active" style="width: 280px;" />
    </div>
</div>