.ri-period-span {
    font-size: 14px;
    margin-left: 20px;
}

.ri-inpsect-button {
    margin-left: 30px;
    line-height: 25px;
}

    .ri-inpsect-button span.l-btn-text {
        line-height: 25px !important;
        height: 25px !important;
    }

    .ri-inpsect-button span.l-btn-left {
        line-height: 25px !important;
        height: 25px !important;
    }

.ri-period-message {
    font-size: 12px;
    color: #449BE0;
    margin-left: 20px;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: calc(100%- 330px);
    width: -webkit-calc(100% - 330px);
    width: -moz-calc(100% - 330px);
}

.ri-title-div {
    margin-top: 5px;
    height: 40px;
}

.ri-accordion-top {
    overflow-y: auto;
    height: calc(100vh- 50px);
    height: -webkit-calc(100vh- 50px);
    height: -moz-calc(100vh- 50px);
}

.ri-title-name {
    line-height: 30px;
    font-size: 14px;
    float: left;
    width: 200px;
    margin: 5px 0 5px 20px;
}

.ri-title-detail {
    float: left;
    line-height: 30px;
    font-size: 12px;
    margin: 5px 0 5px 20px;
    color: #449BE0;
}

.ri-accordion-title {
    float: left;
    width: 100%;
    background: none; /* #E0ECFF;*/
    border-radius: 2px;
    border-top: #E3E3E3 solid 1px;
}

.ri-accordion-body {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.ri-accordion-body-ul {
    margin-left: 50px;
}

.ri-inpsect-sub-category {
    float: left;
    line-height: 40px;
    font-size: 12px;
    width: 400px;
    /*font-weight: bold;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ri-inpsect-sub-result {
    float: left;
    line-height: 40px;
    width: calc(100%- 419px);
    width: -webkit-calc(100% - 419px);
    width: -moz-calc(100% - 419px);
    min-width: 341px;
}

.ri-accordion-body-li {
    float: left;
    width: 100%;
}

.ri-inpsect-detail-link {
    font-size: 12px;
    color: #449BE0;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    width: -webkit-calc(100% - 61px);
    width: -moz-calc(100% - 61px);
    width: calc(100%- 61px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ri-inpsect-children-link {
    max-width: -webkit-calc(100% - 71px);
    max-width: -moz-calc(100% - 71px);
    max-width: calc(100%- 71px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.ri-up-icon, .ri-down-icon {
    margin: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    float: right;
    display: inline-block;
}

.ri-up-icon {
    background: url(images/ri-arrows.png) no-repeat;
}

.ri-down-icon {
    background: url(images/ri-arrows.png) no-repeat -16px;
}

.ri-inpsect-passed, .ri-inpsect-failed {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-top: 13px;
    float: left;
}


.ri-up-icon:hover, .ri-down-icon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #eaf2ff;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.ri-inpsect-passed {
    background: url(images/ri-pass.png) no-repeat;
}

.ri-inpsect-failed {
    background: url(images/ri-failed.png) no-repeat;
}

.ri-inspect-progressbar {
    float: left;
    margin-top: 10px;
}

.ri-top-passed {
}

.ri-top-failed {
    color: #E46F3C;
}

.progressbar-value .progressbar-text {
    background-color: #499CDD !important;
}

.ri-children-ul {
    margin-left: 30px;
}

.ri-children-accordion-icon {
    margin-top: 12px;
    float:right;
}

.ri-children-li.demo {
    display: none;
}

.ri-normal-href {
    cursor: default;
    color: #444;
}
