<!--核算维度设置-->
<div class="vc-checkgroup-setup">
    <div class="vc-checkgroup-demo-div">
        <table class="vc-checkgroup-table">
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MContactID" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MEmployeeID" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MMerItemID" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MExpItemID" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MPaItemID" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MTrackItem1" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MTrackItem2" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MTrackItem3" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MTrackItem4" />
                </td>
            </tr>
            <tr class="vc-hide">
                <td class="vc-checkgroup-title-td">
                    <div class="vc-checkgroup-title"></div>
                </td>
                <td class="vc-checkgroup-value-td">
                    <input class="vc-checkgroup-value vc-hide" id="MTrackItem5" />
                </td>
            </tr>
        </table>
    </div>
</div>